@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #121417;
  --background-secondary: #F8F8F8;
  --color-label:#8A8A89;

  --body-bg: var(--background);
}

[data-theme="sunrise"] {
  --primary: #f4c550;
  --secondary: #fbe9ba;
}

[data-theme="forest"] {
  --primary: #9fbaae;
  --secondary: #cbded3;
}

[data-theme="sky"] {
  --primary: #9fb7ce;
  --secondary: #bfd6ea;
}

[data-theme="rose"] {
  --primary: #e0a39a;
  --secondary: #f2c0bd;
}

[data-theme="peach"] {
  --primary: #f0aa80;
  --secondary: #f4c8ba;
}

body {
  @apply bg-[var(--body-bg)];
  color: var(--foreground);
  font-family: Roboto, sans-serif;
}

